html,
body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 1000px;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}

.header {
    padding: 40px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #2a425b;
}

.footer {
    padding: 40px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: black;
}

.flex-keyboard {
    user-select: none;
    padding: 5px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background: #15212d;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}

.flex-row {
    display: flex;
    flex: 1 1 25%;
}

.key {
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background: #F1F0EC;
    box-shadow: 0px -4px 2px 9px #c0c0bc inset;
    border: 1px solid black;
}

.key:active {
    transform: translateY(3px);
}

.key span {
    margin-bottom: 4px;
}

.special-key {
    background: #6aa6e4;
    box-shadow: 0px -4px 1px 9px #4a749f inset;
    color: white;
}

.slash-key {
    flex: 1 1 100px;
}

.tab-key,
.backspace {
    flex-basis: 110px;
    /* font-size: 20px; */
}

.backspace {
    font-size: 25px;
}

.caps-key,
.enter {
    flex-basis: 150px;
}

.shift {
    flex-basis: 200px;
}

.spacebar {
    flex: 1 1 40%;
}